.attendance-container {
  background: #fff;
  padding: 14px;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  margin: auto;
  font-family: "Cairo", sans-serif; 
  font-size: 12px;
  font-weight: 700;
  line-height: 150%; 
  direction: rtl;
}

.attendance-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 8px;
}

.attendance-header h2 {
  flex: 1;
  text-align: right;
  font-size: 18px;
  margin: 0;
}

.back-btn {
  background: #f5f5f5;
  color: black;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 8px;
  padding: 4px 10px;
}

.attendance-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 12px; 
color: #000;

}

.attendance-table thead {
  background: var(--color-purple);
  color: white;
}

.attendance-table thead th:last-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.attendance-table thead th:first-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.table-title{
  font-weight: 600!important;
}
.attendance-table th, 
.attendance-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}
.SubscribersTab-table th,
.SubscribersTab-table td {
  padding: 8px 2rem; 
  border-bottom: 1px solid #eee;
  text-align: center;
}
 .attendance-table tr {
color: var(--Color-white, #FFF);

/* body/12/bold */
font-family: Cairo;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 150%;
 /* 18px */

}
/* تلوين الصفوف الزوجية */
.attendance-table tbody tr:nth-child(even) {
  background: var(--color-bg);
}

/* الحالات */
.subscription-badge {
  display: inline-block;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  width: 70px;     
  text-align: center;
}

.badge-month {
  background-color: var(--color-green);
}

.badge-week {
  background-color: #EBA522;
}

.badge-day {
  background-color: #6A0EAD; 
}

.badge-year {
  background-color: #0A84FF; 
}

.badge-empty {
  background-color: #999;
}


.status-complete {
  background: var(--color-green);
}

.status-present {
  background: var(--color-purple)
}
.table-text{

color: var(--Color-black, #000);

/* body/12/semibold */
font-family: Cairo;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 18px */
}
.status-mouth{
  background-color: var(--color-green);
}
