@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap'); */

/* @import "tailwindcss"; */

:root {
  --color-bg: #F8F9FA;
  --color-purple: #6A0EAD;
  ;
  --color-lightpurple: #E1CFEF;
  --color-green: #4caf50;
  --color-yellow: #FACC15;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-danger: #EF4444;
  --color-greytext: #7E818C;
  --color-cardborder: rgba(126, 129, 140, 0.40);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Cairo';
  background-color: #F8F9FA;
  overflow-x: hidden;


}


.chart,
.table {
  max-width: 100%;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}


a {
  font-weight: 500;
  text-decoration: inherit;

}

a:hover {
  color: var(--color-purple);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}







@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }

  a:hover {
    color: var(--color-purple);
  }


}

/*chart css*/
.filter-btn {
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
}

.filter-select {
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
  cursor: pointer;
  width: 100px;
  color: black;
  height: 32px;
  font-size: 14px;

}

.tab-btn {

  border: 1px solid var(--color-purple);
  border-radius: 8px;
  background: #fff;
  color: black;
  cursor: pointer;
  font-weight: normal;
  width: 80px;
  height: 32px;
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: center;

}

.tab-btn.active {
  background: var(--color-purple);
  color: #fff !important;
}

.filter {
  width: 208px;
  height: 32px;
}

.filter-btn2 {
  width: 32px;
  height: 32px;

}

.chart {
  width: 436px;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* سكرول أنيق يظهر فقط عند الحاجة (overflow-y: auto) */
.custom-scrollbar {
  /* Firefox */
  scrollbar-width: thin; 
  scrollbar-color: var(--color-lightpurple) transparent;
}

.rz__menu-list {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--color-lightpurple) transparent;
}

.rz__menu-list::-webkit-scrollbar {
  width: 6px;
}

.rz__menu-list::-webkit-scrollbar-thumb {
  background-color: var(--color-lightpurple);
  border-radius: 4px;
}


/* Chrome / Edge / Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-lightpurple); /* بنفسجي شفاف */
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(106, 14, 173, 0.7);
}


.loader {
  width: 48px;
  height: 48px;
  border: 5px dotted var(--color-purple);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* إخفاء شريط السكرول مع بقاء التمرير */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* لـ Edge و IE */
  scrollbar-width: none; /* لـ Firefox */
}

.Toastify__toast-container {
  z-index: 999999 !important;
}

/* غلاف السيلكت العام */
.custom-select-container {
  position: relative;
  display: inline-block; /* عشان ياخد عرضه من الparent أو من الكلاس اللي تعطيه إياه */
}



/* خيارات المينيو */
.custom-menu {
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #dddddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 999999;
}

/* عنصر خيار */
.custom-option {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  font-family: "Cairo";
  color: #444444;
}

.custom-option:hover {
  background: var(--color-lightpurple);
}

.custom-option.selected {
  background: var(--color-purple);
  color: #ffffff;
}

/* السهم الصغير */
.custom-arrow {
  font-size: 12px;
}

/* كلاس عام للتحكم بارتفاع منيو أي دروب داون */
.dropdown-menu-scroll {
  max-height: 200px;
  overflow-y: auto;
}
